<nb-layout>

  <nb-sidebar>
    <nb-sidebar-header>
      <nb-form-field>
        <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
          <input type="text" nbInput shape="round" formControlName="title">
        </form>
      </nb-form-field>
    </nb-sidebar-header>
    <nb-menu tag="categories" [items]="items"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <nb-card size="giant">
      <nb-card-body>
        <iframe frameborder="0" #container style="height:98%;width:100%;"></iframe>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>

</nb-layout>
